#stackdoc-title {
    color: #5D5D5D;
    display: inline-block;
}

.cl_lw_vs_seperator + #stackdoc-title {
    margin-left: 13px;
    display: block;
}

#stackdoc-title.clickable {
    color: #1364C4;
    cursor: pointer;
}

#stackdoc-title.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}
