#stackdoc-title {
    color: #5D5D5D;
    margin-left: 13px;
}

#stackdoc-title.clickable {
    color: #1364C4;
    cursor: pointer;
}

#stackdoc-title.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}
