#stackdoc-title {
    color: #999;
    padding: 2px;
    font-size: 11px;
    margin-top: -12px;
    margin-bottom: 17px;
}

#stackdoc-title.clickable {
    color: #0072C6;
    cursor: pointer;
}

#stackdoc-title.clickable:hover {
    text-decoration: underline;
}

table.stackdoc {
    font-size: 13px;
}

table.stackdoc a {
    color: #0072C6;
}
