ul.stackdoc {
	list-style-type: none;
	-webkit-padding-start: 0;
	margin-left: 0;
}

ul.stackdoc li {
	margin-bottom: 3px;
	list-style-image: none;
}

ul.stackdoc span.sd_score {
	padding-left: 3px;
	padding-right: 3px;
	margin-right: 2px;
	border: 1px solid #a0a2a7;
	float: left;
}

ul.stackdoc span.sd_score.sd_accepted {
	border-color: green;
}

#stackdoc-title {
	color: #5D5D5D;
	margin-left: 13px;
	cursor: pointer;
}
